@model NWBA_Web_Admin.Models.ViewModels.GraphViewModel
@{
    ViewData["Title"] = "Graphs";
}

<head>
    <link rel="stylesheet" href="~/css/Chart.css" />
</head>


<h1>Graphs</h1>

<div class="row">
    <div class="col-md-4">
        <form id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="destinationAccount" class="form-group">
                <label asp-for="CustomerID" class="control-label"> Customer: </label>
                <select asp-for="CustomerID" class="form-control">
                    <option value="0"> All </option>
                    @foreach (var customer in (List<Customer>)ViewBag.AllCustomers)
                    {
                        <option value="@customer.CustomerId"> @customer.CustomerName: &nbsp; @customer.CustomerId </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Date1" class="control-label">From: </label>
                <input asp-for="Date1" class="form-control" />
                <span asp-validation-for="Date1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date2" class="control-label">To: </label>
                <input asp-for="Date2" class="form-control" />
                <span asp-validation-for="Date2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraphType" class="control-label"> Graph Type:</label>
                <select id="graphType" asp-for="GraphType" class="form-control">
                    <option value="table">Table</option>
                    <option value="bar">Bar</option>
                    <option value="pie">Pie</option>
                    <option value="line">Line</option>
                </select>
            </div>
            <div class="form-group">
                <input id ="Submit" type="submit" value="View" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    <div class="container">
        <canvas id="transactionChart"></canvas>
    </div>
    <script src="~/js/Chart.js"></script>
    <script src="~/js/moment.js"></script>
    <script src ="~/js/jquery-3.4.1.js"></script>
    <script>
        var canvas = document.getElementById("transactionChart").getContext("2d");
        $("#form").submit(function (e) {
            //so ajax can be called
            e.preventDefault();

            var f = $('#form');

            var serializedForm = f.serializeArray();
            if (document.getElementById("graphType").value != "table") {
                $.post("https://localhost:44331/transactions/graphs", serializedForm, function (transactionDates) {
                    var object = transactionDates;

                    console.log(object);

                    const labels = [];
                    const data = [];
                    for (let x of object) {
                        var formattedDate = x.date.substring(0, 10);
                        labels.push(formattedDate);
                        data.push({ t: moment(x.date, 'L').toDate(), y: x.count });
                    }

                    const transactionChart = new Chart(canvas, {
                        type: document.getElementById("graphType").value,
                        data: {
                            labels: labels,
                            datasets: [{
                                label: "Transaction count",
                                data: data,
                                options: {
                                    scales: {
                                        xAxes: [{
                                            type: "time",
                                            time: {
                                                unit: "day"
                                            }
                                        }]
                                    }
                                },
                                backgroundColor: "rgba(255, 99, 132, 0.2)",
                                borderColor: "rgba(255, 99, 132, 1)",
                                borderWidth: 1
                            }]
                        }
                    });
                });
            } else {
                $.post("https://localhost:44331/transactions/tables", serializedForm); 
            }
        })
    </script>

