
@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>
<hr />
<h3>Your transaction has been made successfully.</h3>

<div>
    <a asp-controller="customer" asp-action="Index">Back to Accounts</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


