
@{
    ViewData["Title"] = "Portal";
}

<h1>Portal</h1>
<p>Yo what's up guys admin here with another video on how to master web applications.</p>
<div>
    <a asp-controller="Admin" asp-action="Users">View User List</a>
</div>